@charset "utf-8";
@import "font.css";

body{
	padding: 0;
	min-width: 300px;
	text-align:center;
	background-image:url("../img/StarlitSky.png");
	background-size:cover;
    color: rgba(255,255,255, 1);
    justify-content: center;
}
#container{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	max-height: 1024px;
	min-width: 300px;
}
.hidden {
	display:none;
}
.frame{
	position: absolute;
	left: 50%;
	bottom: 0;
	border: none;
	text-align:left;
	width: 700px;/**/
	word-wrap: break-word;
	transform: translateX(-50%);
	background-color: rgba(30, 21, 76, 0.5);
	border-radius: 4px;
	padding: 6px;
	text-align: justify;
	color: rgba(255, 255, 255, 1);
}
h1{
	font-size:45px;/**/
	margin:6px 0 6px 0;
	text-align: center;
	letter-spacing: 10px;/**/
}
p{
	font-size:28px;/**/
	margin:6px;
}
.swiper-container {
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom:84px;
	display:block;
}
.swiper-slide{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination-bullet
{
	bottom: 0;
}
.swiper-pagination-bullet-active{
	opacity:1;
	background:rgba(56,247,138,1);
}
#buttons{
	position: absolute;
	left: 50%;
	bottom: 15px;
	width:600px;/**/
	transform: translateX(-50%);
}
button{
	position: relative;
	float: left;
	width: 260px;/**/
	height:64px;/**/
	color:rgba(121, 121, 121, 1);
	background-color:rgba(56,247,138,1);
	border: none;
	border-radius:4px;
}
#back{float: right;}
button:active{
	background-color: rgba(35,155,87,1);
	color: rgba(255, 255, 255, 1);
}
.icon{
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	height:80%;
}
.icon-text
{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 200px;
	font-family:MainFont;
	font-size:33px;
}
.star{
	position: absolute;
	left: 50%;
	top: 100px;/**/
	width: 450px;/**/
	transform: translateX(-50%);
}
.star>*
{
	position: absolute;
	top: 0;
	left: 0;
}
.star-deathstar
{
	transform-origin: 0px 0px;
	transform: translate(0px, 0px) scale(1);
}
.star-edit
{
	transform-origin: 83px 87px;
	transform: translate(-83px, -87px) scale(1);
}
.star-plan
{
	transform-origin: 0px 7px;
	transform: translate(0px, -7px) scale(1);
}
.star-video
{
	transform-origin: 93px 90px;
	transform: translate(-93px, -90px) scale(1);
}

@media screen and (max-height: 900px)
{
	.frame{width: 600px}
	h1{font-size:35px; letter-spacing: 10px}
	p{font-size:25px}
	.swiper-container{bottom: 74px}
	#buttons{width:560px}
	button{width: 240px;height: 56px}
	.icon-text{width: 180px;font-size:29px;}
	.star{top: 50px; width: 350px}
	.star-deathstar{transform: translate(0px, 0px) scale(0.77778)}
	.star-edit{transform: translate(-83px, -87px) scale(0.77778)}
	.star-plan{transform: translate(0px, -7px) scale(0.77778)}
	.star-video{transform: translate(-93px, -90px) scale(0.77778)};
}
@media screen and (max-width: 600px)
{
	.frame{width: 95%}
	h1{font-size:32px; letter-spacing: 8px}
	p{font-size:22px}
	.swiper-container{bottom: 66px}
	#buttons{width: 95%}
	button{width: 45%;height: 48px}
	.icon-text{width:75%;font-size:25px}
	.star{top: 25px; width: 300px}
	.star-deathstar{transform: translate(0px, 0px) scale(0.66667)}
	.star-edit{transform: translate(-83px, -87px) scale(0.66667)}
	.star-plan{transform: translate(0px, -7px) scale(0.66667)}
	.star-video{transform: translate(-93px, -90px) scale(0.66667)}
}
@media screen and (max-width: 450px)
{
	h1{font-size:29px; letter-spacing: 7px}
	p{font-size:20px}
	.swiper-container{bottom: 62px}
	button{width: 45%;height: 44px}
	.icon-text{width: 75%;font-size:23px}
	.star{top: 40px; width: 250px}
	.star-deathstar{transform: translate(0px, 0px) scale(0.55556)}
	.star-edit{transform: translate(-83px, -87px) scale(0.55556)}
	.star-plan{transform: translate(0px, -7px) scale(0.55556)}
	.star-video{transform: translate(-93px, -90px) scale(0.55556)};
}
@media screen and (max-width: 400px)
{
	@media screen and (max-height:760px)
	{
		h1{font-size:26px; letter-spacing: 7px}
		p{font-size:19px}
		.swiper-container{bottom: 58px}
		button{width: 45%;height: 40px}
		.icon-text{width: 75%;font-size:20px;}
	}
	.star{top: 10%; width: 200px}
	.star-deathstar{transform: translate(0px, 0px) scale(0.44444)}
	.star-edit{transform: translate(-83px, -87px) scale(0.44444)}
	.star-plan{transform: translate(0px, -7px) scale(0.44444)}
	.star-video{transform: translate(-93px, -90px) scale(0.44444)};
}
@media screen and (max-width: 350px)
{
	@media screen and (max-height:760px)
	{
		h1{font-size:24px; letter-spacing: 7px}
		p{font-size:17px}
	}
}