@charset "utf-8";
@import "font.css";

body{
	text-align:center;
	background-image:url("../img/StarlitSky.png");
	background-size:cover;
}
.hidden {
	display:none;
}
#container{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	max-height: 800px;
	min-height: 460px;
}
.headBar{
	position: absolute;
	top: 10%;
	left: 50%;
	width:250px;
	transform: translateX(-50%);
}
#tStar{
	position: absolute;
	top:0;
	left:0;
	width:250px;/**/
	z-index: 1;
	animation: updown 4s infinite;
}
#tStarE
{
	position: absolute;
	top:0;
	left:0;
	width:250px;/**/
	z-index: 2;
	opacity: 0;
	animation: eye 12s infinite;
}
.star-deathstar
{
	position: absolute;
	left: -105px;
	top:20px;
	width: 90px;
	opacity: 0.95;
	animation: updown 3s -0.3s infinite;
}
.star-edit
{
	position: absolute;
	right: -140px;
	top: 200px;
	width: 90px;
	opacity: 0.9;
	animation: updown 2s -1.2s infinite;
}
.star-plan
{
	position: absolute;
	right: -25px;
	top: -30px;
	width: 50px;
	opacity: 0.8;
	animation: updown 3s -0.2s infinite;
}
.star-video
{
	position: absolute;
	left: -60px;
	top: 250px;
	width: 75px;
	opacity: 0.85;
	animation: updown 4s -1.8s infinite;
}
#main{
	position: absolute;
	width: 320px;/***/
	left: 50%;
	top: 57%;/**/
	transform: translateX(-50%);
}
button{
	position: relative;
	display:block;
	width:320px;/**/
	height:64px;
	color:rgba(255, 255, 255, 1);
	background-color:rgba(30, 21, 76, 0.5);
	border:none;
	border-radius:4px;
	margin-bottom:10%;
	border: #fff dotted 4px;
}
button:active{
	border-style: solid;
}
.icon{
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	height:80%;/*/////*/
}
.icon-large
{
	height:92%;/*/////*/
}
.icon-text
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 262px;/**/
	font-family:MainFont;
	font-size:33px;/**/
	right: 0;
}

@keyframes updown
{
	0%{transform: translateY(-1.5%);}
	50%{transform: translateY(1.5%);}
	100%{transform: translateY(-1.5%);}
}

@keyframes eye
{
	0%{opacity: 0}
	26%{opacity: 0}
	27%{opacity: 1}
	28%{opacity: 0}
	54%{opacity: 0}
	55%{opacity: 1}
	56%{opacity: 0}
	87%{opacity: 0}
	88%{opacity: 1}
	89%{opacity: 0}
	100%{opacity: 0}
}

@media screen and (max-width: 500px)
{
	.star-deathstar
	{
		left: -75px;
	}
	.star-edit
	{
		right: -90px;
	}
	.star-video
	{
		left: -60px;
	}
	.star-plan
	{
		right: -25px;
	}
}
@media screen and (max-width: 400px)
{
	.star-deathstar
	{
		left: -60px;
	}
	.star-edit
	{
		right: -75px;
	}
	.star-video
	{
		left: -45px;
	}
}
@media screen and (max-width: 350px)
{
	.star-deathstar
	{
		left: -50px;
	}
	.star-edit
	{
		right: -55px;
	}
	.star-video
	{
		left: -25px;
	}
}
@media screen and (max-height: 750px)
{
	.star-deathstar
	{
		top:20px;
		width: 70px;
	}
	.star-edit
	{
		top: 190px;
		width: 70px;
	}
	.star-video
	{
		top: 220px;
		width: 58px;
	}
	.star-plan
	{
		top: -30px;
		width: 38.4px;
	}
	.headBar
	{
		top: 9%;
		width:192px;
	}
	#tStar{
		width:192px;
	}
	#tStarE{
		width:192px;
	}
	#main{
		width: 280px;
		top: 55%;
	}
	button{
		width:280px;
		height:64px;
	}
	.icon-text
	{
		width: 232px;
		font-size:29px;
	}
}

@media screen and (max-height: 700px)
{
	.star-deathstar
	{
		top:10px;
	}
	.star-edit
	{
		top: 200px;
	}
	.star-video
	{
		top: 200px;
	}
	.star-plan
	{
		top: -20px;
	}
	.headBar
	{
		top: 8%;
		width:187.5px;
	}
	#tStar{
		width:187.5px;
	}
	#tStarE{
		width:187.5px;
	}
	#main{
		width: 265px;
		top: 53%;
	}
	button{
		width:265px;
		height:58px;
	}
	.icon-text
	{
		width: 207px;
		font-size:28px;
	}
}

@media screen and (max-height: 600px)
{
	.star-deathstar
	{
		top:0;
		width: 60px;
	}
	.star-edit
	{
		top: 175px;
		width: 60px;
	}
	.star-video
	{
		top: 180px;
		width: 50px;
	}
	.star-plan
	{
		top: -15px;
		width: 32px;
	}
	.headBar
	{
		top: 7%;
		width:175px;
	}
	#tStar{
		width:175px;
	}
	#tStarE{
		width:175px;
	}
	#main{
		width: 250px;
		top: 54%;
	}
	button{
		width:250px;
		height:52px;
	}
	.icon-text
	{
		width: 192px;
		font-size:26px;
	}
}

@media screen and (max-height: 500px)
{
	.headBar
	{
		top: 6%;
		width:162.5px;
	}
	#tStar{
		width:162.5px;
	}
	#tStarE{
		width:162.5px;
	}
	#main{
		width: 235px;
		top: 54%;
	}
	button{
		width:235px;
		height:48px;
	}
	.icon-text
	{
		width: 177px;
		font-size:24px;
	}
}